.container {
    display: grid;
    /* grid-template-columns: 2fr 1fr;
    gap: 16px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "sidebar sidebar text"
      "footer footer footer";
  }
  
  header {
    grid-area: header;
    /* grid-column: 1 / -1; */
    background-color: rgb(39, 117, 185);
  }
  
  aside {
    grid-area: sidebar;
    /* grid-column: 2 / 3; */
    background-color: darkcyan;
  }
  
  main {
    grid-area: text;
    /* grid-column: 1 / 2; */
    background-color: cadetblue;
  }
  
  footer {
    grid-area: footer;
    /* grid-column: 1 / -1; */
    background-color: rgb(39, 117, 185);
  }
  