button {
    background-color: darkorchid;
    width: 4cm;
    padding: 10px;
  }
  
  button:active {
    background-color: rgb(24, 13, 34);
    color: wheat;
    transform: scale(0.93);
  }
  
  button:focus-visible {
    color: red;
  }

  input {
    height: 30px;
    border-radius: 10px;
    padding-left: 20px;
    width: calc((100% - 80px) / 2);
  }
  
  input:focus {
    border: 5px solid lightgreen;
    outline: none;
    color: green;
  }
  