a[href^="https"] {
    color: coral;
  }
  
img[src$=".png"] {
    color: red;
  }
  
img[alt*="logo"] {
    color: blue;
  }
  
div[class~="box1"] {
    color: darkgoldenrod;
  }
  
p[lang|="en"] {
    /* "en-US" "en-GB" */
    color: darkslategrey;
  }
  
a[href^="https"][href$=".pdf"] {
    color: greenyellow;
  }
  
/* a[href] {
    color: hotpink;
    text-decoration:line-through;
  } */
  a[href^="mailto"] {
    color:green;
    font-weight: bold;
  }
  
a[href$=".pdf"]{
  color:red;
  font-style: italic;
}
  
a[target="_blank"] {
  text-decoration: none;
}

a[href="#top"] {
  color:black;
  font-size: 20px;
}


  
.aaa {
    font-style: italic;
  }
  
#bbb {
    text-align: center;
  }
  
[title] {
    font-weight: bold;
  }
  
h1#bbb {
    color: darkslategrey;
  }
  
p.aaa {
    font-size: 18px;
    text-decoration: green wavy underline;
  }
  
p[title] {
  font-size: 17px; 
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
  
  
  /* span {
    color: red;
    font-size: 16px;
  }
  h2 {
    color: blue;
    font-size: 18px;
  }
  Comment
  p {
    color: blue;
  }
  p.center {
    text-align: center;
    color: red;
  }
  p#contents {
    color: #333;
    font-style: italic;
  }
  [title] {
    text-decoration: underline dotted;
  }
  h1,
  h2,
  h3 {
    color: chartreuse;
  }
  article > p {
    font-family: "Courier New", Courier, monospace;
  }
  article p {
    font-size: 18px;
  }
  h2 + p {
    font-weight: bold;
  }
  h2 ~ p {
    font-style: italic;
  } */
 
  

element:before{
  content:"Текст до";
}
element:after{
  content:"Текст після"
}

p{
  font-style: italic;
}

/* p:before {
  content: open-quote; */
  /* content:"“"; */
  /* font-size: 3em;
} */

/* p:after {
  content: close-quote; */
  /* content:"“"; */
  /* font-size: 3em;
  position: absolute; */
  /* right: 0; */
/* } */

button {
  background-color:royalblue;
  padding: 10px;
  color: white;
}

/* button:before {
  content: url(images/Angel3.png);
  margin-right: 5px;
} */

button:before {
  font-family: "Fontawesome";
  content: "\f007";
  margin-right: 10px;
}

a[href^="https://"]:after {
  font-family: "Fontawesome";
  margin-left: 5px;
  content: "\f0c1";
}

a[href$=".pdf"]:after {
  font-family: Fontawesome;
  margin-left: 5px;
  content: "\f1c1";
}
/* img[src$=".png"]:after {
  font-family: "Fontawesome";
  margin-left: 5px;
  content: "\f779";
} */
a[href$=".pdf"]:after {
  font-family: Fontawesome;
  margin-left: 5px;
  content: "\f1c1";
}

a[href$=".doc"]:before {
  font-family: Fontawesome;
  margin-right: 5px;
  content: "\f1c2";
}

.container p:first-child {
  font-style: normal !important;
}
.container p:last-child {
  font-style: normal !important;
}

p:first-letter {
  color: red;
  font-size: 3em;
}

li {
  display: inline;
  list-style-type: none;
}

li:after {
  content: ",";
}

li:last-child:before {
  content: "and ";
}

li:last-child::after {
  content: ".";
}
ul {
  list-style-type: none;
  }
  ul li:first-child {
  background-color: red;
  }
  ul li:last-child {
  background-color: blue;
  }